body {background-color: black;
	color: white;
	text-align: center;}

#header {background-color:black;
		top:auto;
		height:70px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

h1 {size: 1.5em, bold;
	text-transform: cursive;}

#content {background-color:black;
		top: auto;
		height:600px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content img {width: 80%;
	position: relative;}

h2  {size: bold;
	position: absolute;
	text-transform: cursive;
	top: 250px;
   	left: 0px; right:0px;
  	width: 60%;
   	margin: 0 auto;
    height: 50px;}

#footer {background-color:black;
		top: auto;
		height:50px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;
		float:right;}

a {background:color:grey;
	color:white;
	text-decoration:none;
	float: left;
	padding:20px;}

.clearfix:after {visibility:hidden;
				display:block;
				content:" ";
				height:0;
				font-size:0;}

a:hover {background-color:orange;}

