body {background-color: black;}

#header {background-color:orange;
		height:70px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;
		text-align: center;
		text-transform: cursive;}

#nav {background-color:yellow;
		height:30px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content {background-color:red;
		height:400px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#footer {background-color:lightblue;
		height:30px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

