body {background-color: black;
	color: white;
	text-align: center;}

#header {background-color:black;
		height:70px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

h1 {size: 1.5em, bold;
	text-transform: cursive;}

#nav {background-color:black;
		height:30px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content {background-color:black;
		height:500px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content img {width: 80%;
	position: relative;
    height: 400px;}

h2  {size: bold;
	position: absolute;
	text-transform: cursive;
	top: 0px;
   	left: 0px; right:0px;
  	width: 60%;
   	margin: 0 auto;
    height: 50px;}

 p {size: bold;
	position: absolute;
	text-transform: cursive;
	top: 20px;
   	left: 0px; right:0px;
  	width: 60%;
   	margin: 0 auto;
    height: 50px;}

#footer {background-color:lightblue;
		height:50px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

