body {background-color: black;
	color: white;
	text-align: center;}

#header {background-color:black;
		height:70px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

h1 {size: 1.5em, bold;
	text-transform: cursive;}

#nav {background-color:black;
		height:30px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content {background-color:black;
		height:500px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

#content img {width: 100%;
	position: relative;
    height: 500px;}
    
p {position: absolute;}

h2 {size: bold;
	text-transform: cursive;}

#footer {background-color:black;
		height:50px;
		width: 100%;
		padding:10px;
		border: 6px solid black;
		margin:0px;}

