body 
	{
	text-align: center;
	background: color: rgb(255,0,255);
	background-size: cover;
	color:rgb(0,0,0);
	font-family: palatino, georgia, serif;
	font-size: 18px;
	font-height: 1.5em;
	margin: 2em;
	}
img
	{width:500px;}
ul
	{
	margin:10em;
	color: rgb(255,255,255);
	font-size: bold;
	}
p   {
	margin:2em;
	}
h1
	{
	font-size:3em;
	text-decoration: underline;
	text-transform: uppercase;
	}
hr
	{
	width: 300px;
	color: rgb(0,0,0);
	}
#slogan 
	{
	font: italic;
	font-size: 20px;
	}