body {
	text-align: center;
	background: rgb(0,0,0);
	color:rgb(255,255,255);
	font: Arial black, bold, sans-serif;
	font-size: 18px;
	font-height: 1em;
	margin: 2em;}
img {
	height: 600px;
	width:cover;}
ul  {
	margin:10em;
	color: rgb(255,255,255);}
li  {
	font: bolder;}
p   {
	margin:2em;}
h1  {
	font-size:3em;
	text-decoration: underline;
	text-transform: uppercase;
	}
hr  {
	width: 300px;
	color: rgb(0,0,0);
	}
#slogan 
	{
	font-family: cursive;
	font-size: 20px;
	}