body 
	{
	text-align: center;
	background: url"http://static1.squarespace.com/static/54386be0e4b0d756b6a9d451/544321a1e4b05dc33c6c414a/571e998ed51cd40b93af7d43/1462546621701/ranquilco051+%282%29.jpg"
	background-size: cover;
	color:rgb(0,0,0);
	font-family: helvetica;
	}
h1
	{
	color: rgb (255,0,255);
	font-size:20px;
	text-decoration: underline;
	text-transform: uppercase;}
hr
	{
	width: 200px;
	}
#slogan 
	{
	font: italic;
	font-size: 10px;
	}
img
	{background}